body{
	opacity:0.85;
}
.navbar-custom {
    color: #FFFFFF;
    background-color: #ffffff;
}

/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}
.article1{
	padding: 15px 15px 15px 15px;
	text-align:middle;
	border-radius: 25px;
	border-style:solid;
	border-width:1px;
	border-color:gray;
	margin: 70px 250px 0px 250px;	
} 

.article2{
	position:center; 
	margin-top:70px;
	font-size:15px;
} 
.invisible {
  visibility: hidden;
} 
.tableRegister{
	border:0;
	width:500px; 
	text-align:center;
	position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto 800px;
}
.tableForChecking{
	border:0;
	margin: 80px auto auto auto; 
	width:400px;
	text-align:center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}
.tableRow{
	color:darkblue;
	padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
	font-size:20px;
	font-family: Georgia;
}

.tableRow1{
	color:darkblue;
	padding-top: 20px;
    padding-left: 25px;
	margin-left:10px;
	font-size:20px;
	text-align:center;
	font-family: Georgia;
}

.tableRow2{
	color:darkblue;
	padding:10px;
	border-bottom:2px;
	font-size:15px;
	text-align:center;
	font-family: Georgia;
}

.tableRow3{
	color:black;
	padding:10px;
	font-size:15px;
	text-align:center;
	font-family: Georgia;
}
.trazenaVrijednost{
	color:green;
	padding-top: 20px;
    padding-bottom: 20px;
	font-size:20px;
	font-family: Georgia;
	position:center;
}
.btnCheck{
	color:white;
	background:green;
	font-size: 20px;
}
.btnRegister{
	background:darkblue;
	color:white;
	font-family:Georgia;
	font-size: 20px;
}
.tableAllActivities{
	

	border-color:black;
	border-style:solid;
	width:400px;
	text-align:center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}

.body-register{
	background:url("energy.jpg");
	background-repeat:no-repeat;
}

.small_title{
	font-weight:500;
	text-align: center;
	font-size:40px;
	color: black; 
	font-family: Georgia; 
	text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
p{
	font-weight:500;
	padding:10px;
	color: black; 
	font-family: Georgia; 
	text-align:justify;
	font-size:17px;
}

.centeredText {
    display:table; margin:0 auto;
}





